div.ball {
    background-color: black;
    
    width: 90px;
    height: 90px;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    mix-blend-mode: difference;
    user-select: none;
}

p {
    color: lightblue;
    width: fit-content;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    mix-blend-mode: difference;
}

#Gravity {
    position: fixed;
    top: 5%;
    left: 20%;

    transform: translate(-50%, -50%);
}

#Collisions {
    position: fixed;
    top: 5%;
    left: 90%;

    transform: translate(-100%, -50%);
}

#addBall {
    position: fixed;
    top: 5%;
    left: 50%;

    transform: translate(-50%, -50%);
}


a {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    user-select: none;
}